* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    background-image: url(../img/bg-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 140px;
}

.menu-img {
    width: 100px;
    height: 120px;
}

.menu-lists {
    margin-left: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.header-title {
    align-items: center;
    min-width: 400px;
    text-align: center;
}

.header-description {
    font-family: "Merriweather", Sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.header-main-title {
    font-family: "Oswald", Sans-serif;
    font-size: 105px;
    font-weight: 300;
    letter-spacing: 5px;
    color: #fff;
    margin-top: 10px;
}

.header-button {
    border-style: solid;
    border-width: 3px 3px 3px 3px;
    border-color: #ffffff;
    padding: 15px 30px;
    margin-top: 40px;
    text-decoration: none;
    background-color: transparent;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Merriweather", Sans-serif;
    font-weight: 300;
    font-size: 16px;
    transition: all 0.5s;
}

.header-button:hover {
    color: #000000;
    background-color: #fff;
}

/* introducing */
.introducing {
    margin-top: 70px;
    margin-bottom: 70px;
}

.introduction {
    text-align: center;
    margin-top: 70px;
    color: #000000;
    font-family: "Bitter", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 3px;
}

.introduction::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000;
    margin: 0 14px 4px;
}

.introduction::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 1px;
    border-bottom: 1px solid #000;
    margin: 0 14px 4px;
}

.video-bg {
    display: block;
    margin: 0 auto;
    min-width: 1120px;
    height: 630px;
    margin-top: 20px;
    position: relative;
}

/* .play {
    font-size: 80px;
    color: red;
    position: absolute;
    top: 20%;
    left: 50%;
    cursor: pointer;
    z-index: 4;
} */
.description-main {
    text-align: center;
    margin-bottom: 70px;
}

.des-subtitle {
    color: #000000;
    font-family: "Oswald", Sans-serif;
    font-size: 52px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.description {
    width: 720px;
    margin: 0 auto;
    color: #b59472;
    font-family: "Merriweather", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 24px;
    margin-bottom: 40px;
}

.learn-more {
    color: #000000;
    font-family: "Merriweather", Sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    text-decoration: none;
    /* transition: all 0.5s; */
}

.learn-more:hover {
    text-decoration: underline;
}

/* our history */

.our-history {
    display: flex;
    margin-bottom: 50px;
}

.img-history {
    min-width: 652px;
    height: 563px;
}

.description-history {
    background-color: #000;
    min-width: 660px;
    width: 100%;
}

.des-little {
    min-width: 520px;
    height: 423px;
    margin-left: 80px;
    margin-right: 80px;
}

.since {
    color: #b08b66;
    font-family: "Merriweather", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 40px;
    margin-top: 87px;
    position: relative;

}

.since::after {
    display: block;
    content: '';
    width: 110px;
    height: 2px;
    background: white;
    position: absolute;
    top: 30px;
}

.subtitle-history {
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    font-size: 52px;
    margin-bottom: 20px;
}

.history-des {
    color: #ffffff;
    font-family: "Merriweather", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.5em;
}

/* features */
.container {
    width: 90%;
    align-items: center;
    margin-left: 6%;
}

.container-2 {
    width: 90%;
    align-items: center;
    margin-left: 6%;
    margin-top: 80px;
    margin-bottom: 100px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.feature-1 {
    text-align: center;
}

.feature-img {
    width: 79px;
    height: 79px;
    margin-bottom: 20px;
}

.feature-title {
    color: #373c42;
    font-family: "Oswald", Sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.feature-description {
    color: #666666;
    font-family: "Merriweather", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.9em;
    letter-spacing: 3px;
    width: 332px;
}

.graphic {
    background-image: url(../img/parallax-about.jpg);
    background-position: center top 20px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.graphic-title {
    color: #b59478;
    font-family: "Oswald", Sans-serif;
    font-size: 52px;
    text-align: center;
    padding-top: 70px;
}

.window {
    font-size: 30px;
    color: #fff;
    left: 50%;
    position: absolute;
    margin-top: 20px;
}

.time {
    color: #ffffff;
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 2.1em;
    letter-spacing: 1.9px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 10px;
}

.day {
    color: #ffffff;
    font-family: "Merriweather", Sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 2.1em;
    letter-spacing: 1.9px;
    text-align: center;
    margin-bottom: 70px;
}

/* footer */
#footer {
    background-color: #000;
    height: 250px;

}

.contact {
    display: flex;
    justify-content: space-around;
}

.address-title {
    color: #ffffff;
    font-family: "Oswald", Sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 10px;
}

.address-subtitle {
    color: #ffffff;
    font-family: "Merriweather", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 10px;

}
.icon{
    color: #fff;
    margin-right: 10px;
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}